asgiref==3.8.1
attrs==26.1.0
autobahn==25.12.2
Automat==25.4.16
cffi==1.17.1
cryptography==44.0.3
dj-database-url==3.0.1
Django==5.2
djangorestframework==3.16.0
djangorestframework_simplejwt==5.5.0
environs==14.1.1
gunicorn==23.0.0
marshmallow==4.0.0
packaging==25.0
psycopg2-binary==2.9.10
pycparser==2.22
PyJWT==2.9.0
pyasn1==0.6.3
pyasn1_modules==0.4.2
py-ubjson==0.16.1
python-dateutil==2.9.0.post0
python-dotenv==1.1.0
pytz==2025.2
redis==7.4.0
service-identity==24.2.0
six==1.17.0
sqlparse==0.5.3
Twisted==25.5.0
txaio==25.12.2
tzdata==2025.2
typing_extensions==4.15.0
ujson==5.12.0
uuid==1.30
whitenoise==6.9.0
zope.interface==8.2
requests==2.32.4
django-stubs==5.2.9
django-stubs-ext==5.2.9
djangorestframework-stubs==3.16.8
django-cors-headers==4.7.0
channels==4.2.0
channels_redis==4.2.1
daphne==4.1.2
cloudinary==1.42.1
django-cloudinary-storage==0.3.0
reportlab==4.4.0
pillow==12.2.0
faster-whisper==1.0.3
beautifulsoup4==4.12.3
lxml==6.0.2
pypdf==5.4.0
python-docx==1.1.2
google-genai==1.13.0
django-extensions==4.1
pydotplus==2.0.2
graphviz==0.21
openpyxl==3.1.5
